:root {
  --main-clr: #fc0441;
  --bg-clr: #3f3f3f;
  --bg-secondary-clr: #171b29;

  --icon-clr: #fd49c6;
  --white: #ffffff; /* Used for buttons, text, headings*/

  --subheading-text-clr: #9da1b2;
  --link-text: #632fef;

  --primary-btn-clr: #fa1772;

  --body-clr: #24262b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h5,
h6,
p,
ul {
  margin: 0;
}

/* Font size declarations */
h1 {
  font-size: 56px;
}
.subtitle {
  font-size: 16px;
  margin: 0 7em;
}
.icon-subtitle,
.subtitle-highlight,
.subtitle-trending,
.price,
.subtitle-inspiring,
.subtitle-sales,
.video-subtitle,
.subtitle-news {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3125rem;
  color: var(--white);
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--body-clr);
}

a {
  position: relative;

  color: var(--white);
  text-decoration: none;
  font-size: 16px;
}

a:hover::after {
  content: "";
  position: absolute;
  left: 5%;
  right: 25%;
  bottom: -15px;
  border-bottom: 2px solid var(--white);
  padding: 0 20px;
}
/* Navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em 0 1em;
  height: 120px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5em;
  padding: 0;
}

.logo-img {
  transform: scale(0.4);
}

/* Intro section (Every product has a story) */

.img-container {
  position: relative;
  height: 648px;
  width: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-text,
.intro-text__inspiring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.view-btn,
.product-btn {
  color: white;
  padding: 1em 3em;
  border: none;
  border-radius: 500px;
  background-color: var(--primary-btn-clr);
  font-weight: 400;
}
.view-btn:hover,
.product-btn:hover {
  font-weight: 700;
}

/* Featured Category section */

.featured,
.trending {
  background-color: var(--bg-secondary-clr);
  padding: 3em 0;
}

.featured-content {
  text-align: center;
}

.category-wrapper {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 3em;
  justify-content: center;
}

.category-icon {
  color: var(--primary-btn-clr);
  padding: 0.6em;
  background-color: var(--bg-clr);
  border-radius: 50%;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

/* Week Highlights*/
.highlight-content,
.sales,
.spotlight,
.news {
  text-align: center;
  margin-top: 4em;
}

.highlight-content h5 {
  margin-top: 30px;
}

.highlight-heading,
.trending-heading,
.sales-heading,
.news-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 570px;
  margin: 0 auto;
  gap: 0.7em;
}

.subtitle-highlight,
.subtitle-sales,
.subtitle-news {
  max-width: 80%;
  color: var(--subheading-text-clr);
}

.img-splitter,
.product-wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 2em 0;
}

.highlight-link {
  color: var(--link-text);
}
.highlight-img {
  height: 352px;
  width: 528px;
}

/* Trending Products */
.trending {
  text-align: center;
}

.subtitle-trending {
  max-width: 80%;
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.listing-img {
  width: 344px;
  height: 234px;
}
.listing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-btn {
  background-color: var(--bg-clr);
}

/* Inspiring Products */
.intro-text__inspiring {
  width: 80% !important;
}

.subtitle-inspiring,
.video-subtitle {
  max-width: 500px;
}

/* On Sale This Week */
.listing-img__main {
  width: 528px;
  height: 352px;
}
.listing-img__main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Spotlight */
.spotlight h1 {
  margin-bottom: 1em;
}
.spotlight-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.spotlight-content .view-btn {
  background-color: var(--white);
  color: #3f3f3f;
}
.video {
  height: 472px;
  width: 840px;
}

/* Product News */
.news-wrap {
  display: flex;
}
.news-img {
  height: 234px;
  width: 344px;
}
.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}
